[submodule "FEX"]
	path = FEX
	url = https://github.com/willfaust/FEX.git
	branch = ios-port-2607
[submodule "wine"]
	path = wine
	url = https://github.com/willfaust/wine.git
	branch = madeira-lgpl
[submodule "dxmt"]
	path = dxmt
	url = https://github.com/willfaust/dxmt.git
	branch = ios-port
[submodule "madeira-dock"]
	path = madeira-dock
	url = https://github.com/willfaust/madeira-dock.git
	branch = main
